version: '3.8'
services:
  #   backend:
  #     build:
  #       context: .
  #       dockerfile: Dockerfile
  #     container_name: backend-container
  #     ports:
  #       - 8000:3003
  #     environment:
  #       DATABASE_HOST: ${DATABASE_HOST}
  #       DATABASE_PORT: ${DATABASE_PORT}
  #       DATABASE_USER: ${DATABASE_USER}
  #       DATABASE_PASSWORD: ${DATABASE_PASSWORD}
  #       DATABASE_NAME: ${DATABASE_NAME}
  #       SECRET: ${SECRET}

  #     depends_on:
  #       - db
  #     restart: unless-stopped
  #     networks:
  #       - groceries-app
  db:
    image: postgres:17
    container_name: postgres-container
    ports:
      - 127.0.0.1:5433:5432
    env_file:
      - .env.dev
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: always
    networks:
      - groceries-app

networks:
  groceries-app:
volumes:
  postgres-data:
