DATABASE_PORT=5433              
DATABASE_USER=DEV_USER       
DATABASE_HOST=localhost
DATABASE_PASSWORD=SALASANA     
DATABASE_NAME=groceries
SECRET=SALAISUUS              

POSTGRES_USER=DEV_USER       
POSTGRES_PASSWORD=SALASANA      
POSTGRES_DB=groceries

DATABASE_URL=postgres://DEV_USER:SALASANA@localhost:5433/groceries         
